<div [ngStyle]="{'text-align': 'justify'}">
  <h2>Angular Framework</h2>
  <div>
    <p>
      Angular es un framework multiplaforma para aplicaciones web desarrollado en TypeScript, de código abierto,
      mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página
      (Single Page Application). Su objetivo es aumentar las aplicaciones basadas en navegador con capacidad de
      <span>Modelo Vista Controlador (MVC)</span>, en un esfuerzo para hacer que el desarrollo y las pruebas sean más
      fáciles.
    </p>

    <p>
      Es un framework de desarrollo la cual tiene como fin facilitarnos el desarrollo de aplicaciones web SPA (Single
      Page Application), la cual consiste en una aplicación web o website que cabe en una sola página. Básicamente el
      sitio web carga una vez y da una experiencia más fluida.
    </p>

    <p>
      Una de sus grandes virtudes es la posibilidad de utilizar templates declarativos, aplicar inyecciones de
      dependencias y crear componentes reutilizables.
    </p>

    <p>
      Angular se basa en componentes cuyas propiedades son las usadas para hacer el binding de los datos.
      En dichas clases tenemos propiedades (variables) y métodos (funciones a llamar).
    </p>

    <h2>¿Por qué Angular?</h2>

    <p>
      Hoy en día, existen una gran cantidad de frameworks JavaScript, que te permiten desarrollar importantes proyectos
      web. Sin embargo, aquí te presentamos algunas razones por la cual deberías elegir angular:
    </p>

    <ul>
      <li>
        <span>Su comunidad:</span> Angular es un framework muy popular, hay muchos desarrolladores que lo ultilizan y
        como desarrollador sabes de la importancia de contar con una gran comunidad que esté apoyándose entre sí, ya que
        a través de estas comunidades es posible conocer e interactuar con muchas personas alrededor del mundo y sobre
        todo el compartir constante conocimiento.
      </li>

      <li>
        <span>Está respaldado por Google:</span> El motor de búsqueda líder del mundo Google, respalda fuertemente éste
        framework y tiene un equipo trabajando constantemente en desarrollar mejoras en Angular, proveyendo de
        característica y funcionalidades que lo cataloguen como el mejor framework disponible.
      </li>

      <li>
        <span>Utiliza como lenguaje TypeScript:</span> Por otro lado, Angular utiliza como lenguaje TypeScript la cual
        fue desarrollada y es mantenida por Microsoft.
        <p class="mt-3">Las principales ventajas son:</p>
        <ul>
          <li>Es de fácil mantenimiento.</li>
          <li>
            Una documentación consistente. Toda la sintaxis y la manera de desarrollar es la misma, esto añade
            coherencia a la información y a la forma de leer el código.
          </li>
        </ul>
      </li>

      <li>
        <span>Angular es un proyecto open source</span>, se encuentra publicado en Github y con constantes
        colaboraciones por parte de su comunidad.
      </li>

      <li>
        <span>Componentes Web:</span> En angular, un componente es una porción de código que es posible reutilizarla.
        Con esto podemos desarrollar aplicaciones de una forma mucho más ágil, además estos componentes son fáciles de
        convertir en componentes web nativos.
      </li>
    </ul>
  </div>
</div>
