<footer class="bg-dark text-white fixed-bottom">
  <div class="footer d-flex justify-content-center mt-3">
    <p class="mt-1">&copy; {{ anio }} Daniel Pompa Pareja</p>
    <a href="https://www.linkedin.com/in/daniel-pompa-pareja/">
      <i class="fa fa-linkedin-square fa-2x text-light mr-1 ml-4"></i>
    </a>
    <a href="https://github.com/Daniel-45">
      <i class="fa fa-github-square fa-2x text-light mr-1"></i>
    </a>
    <a href="#">
      <i class="fa fa-facebook-square fa-2x text-light mr-1"></i>
    </a>
  </div>
</footer>
